{% extends 'base.html' %}
{% load static %} 
{% block content %}
    <!-- Hero Slider -->
    <section class="hero bg-cover bg-position py-4" style="background: url({% static 'img/hero-banner-3.jpg' %})">
      <div class="container py-5 index-forward text-white">
        <h1>Contact Us</h1>
        <!-- Breadcrumb-->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-none mb-0 p-0">
            <li class="breadcrumb-item pl-0"><a href="index.html"> <i class="fas fa-home mr-2"></i>Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Contact us</li>
          </ol>
        </nav>
      </div>
    </section>
    {% if firstname %}
    <center class="py-3">
      <h2>Teşekkürler {{ firstname }}!</h2>
      <p>Mesajını aldık ve en yakın zamanda cevaplandıracağız...</p>
    </center>
    {% else %}
    <!-- Map Section -->
    <section class="gmap mt-50 mb-100"> 
      <div class="container py-3">
        <div class="row">
          <div class="col-12">
            <div class="google-maps mb-100">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3045.3452409447586!2d29.076337950587178!3d40.24585807383736!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ca3fb96e31e42f%3A0x981a24ba454445fe!2sDemirta%C5%9F%20Cumhuriyet%2C%20Mh%207.%20Cd%20No%3A10%2C%2016245%20Osmangazi%2FBursa!5e0!3m2!1str!2str!4v1607548103301!5m2!1str!2str" width="1000" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="py-5 shadow-sm index-forward">
      <div class="container py-3">
        <header>
          <h2>Request a <span class="text-primary">Call </span>Back</h2>
          <p class="mb-5 text-muted">Nanotechnology immersion along the information highway will close the loop on focusing</p>
        </header>
        
        <div class="row">
          <div class="col-lg-7 mb-5 mb-lg-0">
            <div class="pt-1 bg-primary">
              <div class="p-4 p-lg-5 bg-white shadow-sm">
                <form action="{% url 'contact' %}" method="post">
                  {% csrf_token %}
                  <div class="row">
                    <div class="form-group col-lg-6">
                      <input class="form-control" type="text" name="firstname" placeholder="First name">
                    </div>
                    <div class="form-group col-lg-6">
                      <input class="form-control" type="text" name="lastname" placeholder="Last name">
                    </div>
                    <div class="form-group col-lg-6">
                      <input class="form-control" type="tel" name="phone" placeholder="Phone number">
                    </div>
                    <div class="form-group col-lg-6">
                      <input class="form-control" type="text" name="subject" placeholder="Subject">
                    </div>
                    <div class="form-group col-lg-12">
                      <input class="form-control" type="email" name="email" placeholder="Email address">
                    </div>
                    <div class="form-group col-lg-12">
                      <textarea class="form-control" name="message" rows="5" placeholder="Leave your message"></textarea>
                    </div>
                    <div class="form-group col-lg-12">
                      <button class="btn btn-outline-primary" type="submit">Submit now</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          
          <div class="col-lg-4">
            <h3>Have a quesion?</h3>
            <p class="text-muted mb-5">If you got any questions please do not hesitate to send us a message.</p>
            <ul class="list-unstyled">
              <li class="d-flex mb-3">
                <div class="icon bg-primary"><i class="fas fa-map-marker-alt text-white fa-fw"></i></div>
                <div class="ml-3">
                  <h5 class="mb-0">Address</h5>
                  <p class="text-muted text-small">1798 Pretty View Lane, California</p>
                </div>
              </li>
              <li class="d-flex mb-3">
                <div class="icon bg-primary"><i class="fas fa-envelope text-white fa-fw"></i></div>
                <div class="ml-3">
                  <h5 class="mb-0">Email</h5>
                  <p class="text-muted text-small">Construction@example.com</p>
                </div>
              </li>
              <li class="d-flex mb-3">
                <div class="icon bg-primary"><i class="fas fa-mobile text-white fa-fw"></i></div>
                <div class="ml-3">
                  <h5 class="mb-0">Phone</h5>
                  <p class="text-muted text-small">+535 421 895 6523</p>
                  {% endif %}
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    
    {% endblock content %}
    
