{% extends 'base.html' %}
{% load static %}

{% block content %}
 
    <div class="container">
      <div class="row py-4">
        <!-- Latest Posts -->
        <main class="posts-listing col-lg-8"> 
          <div class="container">
            <div class="row">
              <!-- post -->
              {% for obj in queryset %} 
              <div class="post col-xl-6">
                <div class="post-thumbnail"><a href="{{ obj.get_absolute_url }}"><img src="{{ obj.thumbnail.url }}" alt="..." class="img-fluid"></a></div>
                <div class="post-details">
                  <div class="post-meta d-flex justify-content-between">
                    {% comment %}<div class="date meta-last">20 May | 2016</div>{% endcomment %}
                    <div class="category">
                    {% for cat in obj.category.all %}
                    <a href="#">{{ cat }}</a>
                    {% endfor %}
                  </div>                  
                  </div><a href="{{ obj.get_absolute_url }}">
                    <a href="{{ obj.get_absolute_url }}"><button type="submit" class="btn-danger" class="submit"
                      frameborder="0" style="border:0;">Video</button>
                    <h3 class="h4">{{ obj.title }}</h3></a>
                  <p class="text-muted">{{ obj.overview|slice:":150"}}....</p>
                  {% comment %}<footer class="post-footer d-flex align-items-center">
                    <a href="#" class="author d-flex align-items-center flex-wrap">
                      <div class="avatar"><img src="{{ post.author.profile_picture.url }}" alt="..." class="img-fluid"></div>
                      <div class="title"><span>{{ post.author.username }}</span></div>
                    </a>
                    <div class="date"><i class="icon-clock"></i>{{ obj.timestamp|timesince}} ago </div>
                    <div class="comments meta-last"><i class="icon-comment"></i>{{ obj.comment_count }} </div>
                  </footer>{% endcomment %}
                </div>
              </div>
              {% endfor %}
            </div>
            <!-- Pagination -->
            <nav aria-label="Page navigation example">
              <ul class="pagination pagination-template d-flex justify-content-center">
                {% if queryset.has_previous %}
                <li class="page-item"><a href="?{{ page_request_var }}={{ queryset.previous_page_number }} " class="page-link"> <i class="fa fa-angle-left"></i></a></li>
                {% endif %}
                <li class="page-item"><a href="?{{ page_request_var }}={{ queryset.number }}" class="page-link active">{{ queryset.number }}</a></li>                
                {% if queryset.has_next %}
                <li class="page-item"><a href="?{{ page_request_var }}={{ queryset.next_page_number }}" class="page-link"> <i class="fa fa-angle-right"></i></a></li>
                {% endif %}
              </ul>
            </nav>
          </div>
        </main>
        {% include 'sidebar.html' with latest=latest category_count=category_count %}
      </div>
    </div>
    
    {% endblock content %}